[user]
	name = Titus Soporan
	email = titus@tsoporan.com
	signingkey = key::ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQC9lFy9zXEqJPMXGKCyR1mmHRT6wUOArmD4g5EQbGx4CHWhGOBi3cFS+9TusFD0LqujndKlAMQaOuFnICzQEOgfDJ8coQuadUJO+RJ6NOtZTEvUjco3mGSs4dOS67Q5KrDhC1UL8iXpFN8kuW7LACtN8Nm9TUfcZHntde3WSEscPma345wo7SPnjLRAeRiBIaj5/RagkiJZflBAXLzBPnmk2OS6dqs5PxZ7P0cLESPy8ks0YI7pxHCKUE4ZoM4tNSlq09/8TWkz6mB3vwHL7l9EI9f/bXQnmYPHyhPC6XrPMoeiL7RDmDFhHnX78GzwOwnr1xjrr8xn4xbYhwgMZ4XvJ8H5A2Wyhy07HROiOnSf9hGF2PFywQeXteTsWzoL0KWZiuOuQZ4+IDl+Y5BB/K1ufcySRoADwHsFvypG5csrNsENuOaQ4mjOYYEKiJodNfIACy6RPNMC5ymweXvBmptjEGLkEaZjn9R/TqYQW87oTOZi738wigI5QKBma1yXXV17DHlLRIJkGVmIDlPFsvD+SpNjdgjOi4Kj1EPAA1FqpwLne5wUyfN3iOWfBOnbIKObM7d/gK9vudgR4rcOepOIMk0WOuU62RSPm+yS2+zxL9b3GK5GU6toyItei1KKiEJQRmJ2noep8BeUW5A7643++g4j8H2FXToABeeELNyAyw== openpgp:0xFB6690A1
[core]
  excludesfile = ~/.gitignore_global
  editor = nvim
  autocrlf = false
  safecrlf = true
  pager = delta
# https://github.com/dandavison/delta
[delta]
  plus-style = syntax "#003800"
  minus-style = syntax "#3f0001"
  syntax-theme = ansi
  line-numbers = true
[delta "line-numbers"]
  line-numbers-left-style = cyan
  line-numbers-right-style = cyan
  line-numbers-minus-style = 124
  line-numbers-plus-style = 28
[delta "decorations"]
  commit-decoration-style = bold yellow box ul
  file-style = bold yellow ul
  file-decoration-style = none
  hunk-header-decoration-style = cyan box ul
[color]
  ui = auto
  status = auto
  diff = auto
  branch = auto
  interactive = auto
  grep = auto
[color "status"]
  added = green
  changed =  yellow
  untracked = magenta
  deleted = red
[push]
  default = current
[commit]
  gpgSign = true
[merge]
  gpgSign = true
  tool = nvimdiff
[gpg]
  program = gpg2
	format = ssh
[alias]
  hist = log --pretty=format:\"%Cgreen%h %Creset%cd %Cblue[%cn] %Creset%s%C(yellow)%d%C(reset)\" --graph --date=relative --decorate --all
  llog = log --graph --name-status --pretty=format:\"%C(red)%h %C(reset)(%cd) %C(green)%an %Creset%s %C(yellow)%d%Creset\" --date=relative
  last = log -1 HEAD --show-signature
  undo = reset --keep HEAD^
  branchsort = !git for-each-ref --sort=-committerdate refs/heads/ --format '%(refname:short)' | awk '{print $1}'
  latest = log -n 5 --name-only --format=
	co = checkout
	br = branch
	ci = commit
  st = status
  comp = git diff main --stat
[interactive]
  diffFilter = delta --color-only
[pull]
	rebase = true
[init]
  defaultBranch = main
[github]
  user = tsoporan
[rerere]
	enabled = true
[gpg "ssh"]
	allowedSignersFile = ~/.ssh/allowed_signers
