[user]
  name = Titus Soporan
  email = titus@tsoporan.com
  signingkey = 0x882FD40C9CAEE059
[core]
  excludesfile = ~/.gitignore_global
  editor = nvim
  autocrlf = false
  safecrlf = true
  pager = delta
# https://github.com/dandavison/delta
[delta]
  plus-style = syntax "#003800"
  minus-style = syntax "#3f0001"
  syntax-theme = Dracula
  line-numbers = true
[delta "line-numbers"]
  line-numbers-left-style = cyan
  line-numbers-right-style = cyan
  line-numbers-minus-style = 124
  line-numbers-plus-style = 28
[delta "decorations"]
  commit-decoration-style = bold yellow box ul
  file-style = bold yellow ul
  file-decoration-style = none
  hunk-header-decoration-style = cyan box ul
[color]
  ui = auto
  status = auto
  diff = auto
  branch = auto
  interactive = auto
  grep = auto
[color "status"]
  added = green
  changed =  yellow
  untracked = magenta
  deleted = red
[push]
  default = matching
[commit]
  gpgSign = true
[merge]
  gpgSign = true
  tool = nvim -d
[gpg]
  program = gpg2
[alias]
  hist = log --pretty=format:\"%Cgreen%h %Creset%cd %Cblue[%cn] %Creset%s%C(yellow)%d%C(reset)\" --graph --date=relative --decorate --all
  llog = log --graph --name-status --pretty=format:\"%C(red)%h %C(reset)(%cd) %C(green)%an %Creset%s %C(yellow)%d%Creset\" --date=relative
  last = log -1 HEAD --show-signature
  undo = reset HEAD^
[interactive]
  diffFilter = delta --color-only
[pull]
  rebase = false
[init]
  defaultBranch = main
[github]
  user = tsoporan
