[user]
  name = Titus Soporan
  email = titus@tsoporan.com
  signingkey = 0x882FD40C9CAEE059
[core]
  excludesfile = ~/.gitignore_global
  editor = vim
	autocrlf = false
  safecrlf = true
  pager = delta
[delta]
  plus-style = syntax "#003800"
  minus-style = syntax "#3f0001"
  syntax-theme = Dracula
  line-numbers = true
[delta "line-numbers"]
  line-numbers-left-style = cyan
  line-numbers-right-style = cyan
  line-numbers-minus-style = 124
  line-numbers-plus-style = 28
[delta "decorations"]
  commit-decoration-style = bold yellow box ul
  file-style = bold yellow ul
  file-decoration-style = none
  hunk-header-decoration-style = cyan box ul
[color]
  ui = true
[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green
[color "status"]
  added = yellow
  changed = green
  untracked = cyan
[push]
  default = matching
[commit]
  gpgSign = true
[merge]
  gpgSign = true
  tool = nvim -d
[gpg]
  program = gpg2
[alias]
  lg = log --oneline
  last = log -1 HEAD
  s = status
  undo = reset HEAD^
[interactive]
  diffFilter = delta --color-only
