! ----------------------------------------------------------------------------
! file:     ~/.Xresources
! author:   Titus Soporan - http://tsoporan.com
! modified: August 2011
! ----------------------------------------------------------------------------


! -- URxvt Settings
urxvt*loginShell:true
urxvt*saveLines: 1000
urxvt*urgentOnBell: True
urxvt*visualBell: False
urxvt*scrollBar:false

! -- Terminal Colors
urxvt*transparent:true
urxvt*shading: 30
urxvt*background:Black
urxvt*foreground:White

! -- Xft Settings
Xft.dpi:		 96
Xft.antialias:           true 
Xft.hinting:             true
Xt.hintstyle:            hintfull
Xft.rgba:		 rgb

! -- Fonts
!urxvt*font: xft:Monaco:Regular:autohint=true:antialias=true:pixelsize=10
urxvt*font:                     xft:inconsolata:size=10:antialias=true:autohint=true 
!urxvt*boldFont:boldFont xft:terminus:size=10
!urxvt*font:xft:DejaVuSansMono:pixelsize=12

! -- Clickable URLS
urxvt.perl-ext-common: default,matcher
urxvt.urlLauncher: /usr/bin/chromium 
urxvt.matcher.button: 1
urxvt.keysym.C-Delete: perl:matcher
urxvt.underlineURLs: true

! -- Xcursor
Xcursor.theme: whiteglass

